.App {
  text-align: center;
  background-color: #f0f0f0;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align:  center;
}

.uploadCard {
  background-color: white;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.342);
  min-width: 500px;
}

.dragDropBox {
  background-color: #F6F8FB;
  border: 2px solid #97BEF4;
  border-style: dashed;
  padding: 90px 140px 90px 140px;
  color: #BDBDBD;
  border-radius: 20px;
}

.dragDropBox > p {
  margin-top: 40px;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 28px
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
  margin-top: 30px;
}

label {
  cursor: pointer;
  background-color: #2F80ED;
  padding: 11px;
  border-radius: 8px;
  color: white;
}

.imageBox {
      padding: 20px
}

.imageClass {
    color: #BDBDBD;
    border-radius: 20px;
    max-height: 400px;
}

.linkBox {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  background-color: #F6F8FB;
  border: 1px solid #E0E0E0;
  border-radius: 8px;
  margin-top: 20px;
}

.linkBox > button {
  padding: 15px;
  background: #2F80ED;
  border-radius: 8px;
  outline: none;
  border: none;
  color: white;
}

.uploadingBar {
  background-color: #BDBDBD;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  margin-top: 25px;
}

.uploadingBarInside {
  background-color: #2F80ED;
  width: 10px;
  height: 100%;
  left: 0px;
  position: relative;
  animation: example 4s linear infinite;
  border-radius: 20px;
}

@keyframes example {
  0% {
      left: 0%;
      right: 100%;
      width: 0%;
    }
  
    10% {
      left: 0%;
      right: 75%;
      width: 25%;
    }
  
    90% {
      right: 0%;
      left: 75%;
      width: 25%;
    }
  
    100% {
      left: 100%;
      right: 0%;
      width: 0%;
    }
}